.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: absolute;
    width: 100%;
    top: 2rem; }
    .site-navbar .container-fluid {
      padding-left: 7rem;
      padding-right: 7rem; }
      @media (max-width: 1199.98px) {
        .site-navbar .container-fluid {
          padding-left: 15px;
          padding-right: 15px; } }
    .site-navbar .site-logo {
      position: absolute;
      left: 5%; }
      @media (max-width: 767.98px) {
        .site-navbar .site-logo {
          position: relative;
          left: auto; } }
      .site-navbar .site-logo a {
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: .2rem;
        text-transform: uppercase; }
        .site-navbar .site-logo a:hover {
          text-decoration: none; }
    .site-navbar .site-burger-menu, .site-navbar .right-cta-menu {
      position: absolute;
      right: 5%; }
      @media (max-width: 767.98px) {
        .site-navbar .site-burger-menu, .site-navbar .right-cta-menu {
          position: relative;
          right: auto; } }
    .site-navbar .site-menu-toggle {
      color: #fff;
      line-height: 0;
      font-size: 2.5rem;
      position: relative; }
      @media (max-width: 767.98px) {
        .site-navbar .site-menu-toggle {
          margin-left: 5px; } }
    .site-navbar .site-navigation {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 5; }
      .site-navbar .site-navigation .site-menu {
        margin-bottom: 0; }
        .site-navbar .site-navigation .site-menu .active {
          color: #fff;
          display: inline-block;
          padding: 5px 20px; }
        .site-navbar .site-navigation .site-menu a {
          text-decoration: none !important;
          display: inline-block;
          position: relative; }
        .site-navbar .site-navigation .site-menu > li {
          display: inline-block; }
          .site-navbar .site-navigation .site-menu > li > a {
            padding: 20px 20px !important;
            color: rgba(255, 255, 255, 0.5);
            display: inline-block;
            text-decoration: none !important; }
            .site-navbar .site-navigation .site-menu > li > a:hover {
              color: #fff; }
        .site-navbar .site-navigation .site-menu .has-children {
          position: relative; }
          .site-navbar .site-navigation .site-menu .has-children > a {
            position: relative;
            padding-right: 20px; }
            .site-navbar .site-navigation .site-menu .has-children > a:before {
              position: absolute;
              content: "\e313";
              font-size: 16px;
              top: 50%;
              right: 0;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              font-family: 'icomoon'; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown {
            visibility: hidden;
            opacity: 0;
            top: 100%;
            position: absolute;
            text-align: left;
            border-top: 2px solid #89ba16;
            -webkit-box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.2);
            padding: 0px 0;
            margin-top: 20px;
            margin-left: 0px;
            background: #fff;
            -webkit-transition: 0.2s 0s;
            -o-transition: 0.2s 0s;
            transition: 0.2s 0s; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
              position: absolute; }
              .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
                bottom: 100%;
                left: 20%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none; }
              .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
                border-color: rgba(136, 183, 213, 0);
                border-bottom-color: #fff;
                border-width: 10px;
                margin-left: -10px; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown li {
              line-height: 1.4; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown a {
              text-transform: none;
              letter-spacing: normal;
              -webkit-transition: 0s all;
              -o-transition: 0s all;
              transition: 0s all;
              color: #343a40; }
              .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
                background: #ebeef0;
                color: #89ba16; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
              list-style: none;
              padding: 0;
              margin: 0;
              min-width: 200px; }
              .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
                padding: 9px 20px;
                display: block; }
                .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
                  background: #ebeef0;
                  color: #212529; }
              .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
                content: "\e315";
                right: 20px; }
              .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a.active {
                background: #ebeef0;
                color: #89ba16; }
              .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
                left: 100%;
                top: 0; }
              .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
                background: #ebeef0;
                color: #212529; }
          .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
            cursor: pointer; }
            .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
              -webkit-transition-delay: 0s;
              -o-transition-delay: 0s;
              transition-delay: 0s;
              margin-top: 0px;
              visibility: visible;
              opacity: 1; }
        .site-navbar .site-navigation .site-menu.site-menu-dark > li > a {
          color: black;
          position: relative; }
          .site-navbar .site-navigation .site-menu.site-menu-dark > li > a:after {
            height: 2px;
            background: #000;
            content: "";
            position: absolute;
            bottom: 0;
            left: 20px;
            right: 20px;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease; }
          .site-navbar .site-navigation .site-menu.site-menu-dark > li > a:hover, .site-navbar .site-navigation .site-menu.site-menu-dark > li > a.active {
            color: #89ba16;
            position: relative; }
            .site-navbar .site-navigation .site-menu.site-menu-dark > li > a:hover:after, .site-navbar .site-navigation .site-menu.site-menu-dark > li > a.active:after {
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1); }