@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-image: url("https://i.imgur.com/diehmIw.jpg");
}

.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  margin-top: 100px;
}
